body {
  margin: 0;
  padding: 0;
  min-width: 1180px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}
        *,
*::before,
  *::after {
 box-sizing: inherit;
}

a {
  text-decoration: none;
}

.main-header {
  background: #eeeeee;
  width: 100%;
  padding-top: 20px;
  margin: auto;
}
.container {
  width: 1180px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  outline: 2px solid black;
 }

.main-nav a {
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-bottom: 0px;
}

.site-nav {
  width: 440px; outline: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-nav {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.site-nav,
.user-nav {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.site-nav a,
.user-nav a {
  color: #000000;
}
/*.site-navigation-current {
  color: #000000;}*/

.site-nav a:hover,
.user-nav a:hover {
  color: #fb565a;
}

.site-nav a:active,
.site-nav a:focus,
.user-nav a:active,
.user-nav a:focus {
 color: rgba(0, 0, 0, 0.302);
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active,
.main-header-logo:focus {
  opacity: 0.3;
}
.site-navigation-current {
  text-decoration: underline ;
}
.user-nav .login-link{
  position: relative;
  padding-left: 50px;
  padding: 30px;

  /*background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}
.login-link::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 4px;

  width: 17px;
  height: 17px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.motto {
  position: relative;

  width: 100%;
  background: #eeeeee;
  margin-bottom:  65px;

}
.motto-slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.motto-slider-controls i{
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.motto-slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.motto-slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


.motto-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
}
.motto-list-item{
  display: none;
  padding: 51px 0 80px 0;
}

.motto-list-item:nth-child(1) {
  display: block;
}

.motto-list-item:nth-child(1) {
  display: block;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.motto-list-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.motto-list-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
.motto-header {
  max-width: 600px;
  margin: 0px;
  margin-bottom: 27px/*40px*/;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  /*color: #000000;*/

  /*display: flex;
  padding-top: 55px;
  */
}
.motto-list-item p{
  max-width: 430px;
  margin: 0px;
  margin-bottom: 38px;

  /*font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align:left;
  padding: 0px;*/
}

.motto-btn {
  display: block;
  width: 240px;
  padding: 13px 0;

  font: inherit;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;

}

.motto-btn:hover,
.motto-btn:focus {
  background-color: #e74246;
}

.motto-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.service {
  list-style: none;
  text-align: left;
  margin-bottom: 17px;
}

.service-list {
  width: 1100px;
  display: flex;
  list-style: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  justify-content: space-between;
  }

.service-list-item {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.service-list-item p{
  margin-top:0px;
  margin-bottom: 40px;
}

.service-list-item h3{
  margin-bottom: 15px;
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  display: block;
  width: 160px;
  height: 50px;
  padding: 13px 0;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;


  background-color: #fb565a;
  border-radius: 3px;
  border: none;

}

.button-red {
  font: inherit;
  color: #ffffff;
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}
.button-red:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #d7373b;
}

.button-green {
  font: inherit;
  color: #ffffff;
  background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}
.button-green:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #00aa62;
}

.button-yellow {
  font: inherit;
  color: #ffffff;
  background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}
.button-yellow:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #e5a722;
}

.about-facts-wrapp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 660px;
  padding-top: 20px;
}

.about-loud b {
  font-size: 45px;
  line-height: 45px;
  margin-top: 80px;
  margin-bottom: 45px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}

.about-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 23px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: left;
}
.facts-wrapp{
  margin-bottom: 98px;
  /*outline: 2px solid red;*/
}

.facts {
  width: 360px;
}
.facts img{
  margin-bottom: 40px;

}

.facts p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.facts-list th{
  font-size: 45px;
  line-height: 10.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 28px;
  text-align: center;
  background-color: yellow;
}

.facts-list td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  background-color: yellow;
}


.partners{
  margin-bottom: 28px;
}

.partners-list {
  list-style: none;
  position: relative;
  width: 1124px;
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-list::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 100%;
  height: 2px;
  background-color:#f4f4f4;
}
.partners-list::after{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 2px;
  background-color:#f4f4f4;
}

.partners-item{
  opacity: 0.2;
  display: flex;
  position: relative;
}
.logo1::before {
  content: "";
  position: absolute;
  top:3px;
  left: 247px;
  width: 2px;
  height: 50px;
  background-color:#f4f4f4;
}
.logo2::before {
  content: "";
  position: absolute;
  top:14px;
  left: 242px;
  width: 2px;
  height: 50px;
  background-color:#f4f4f4;
}
.logo3::before {
  content: "";
  position: absolute;
  top:0px;
  left: 227px;
  width: 2px;
  height: 50px;
  background-color:#f4f4f4;
  opacity: 1;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active,
.partners-logo:focus {
  opacity: 0.1;
}

.container-relative {
   position: relative;
}

.adress {
  box-sizing: border-box;
  width: 320px;
  height: 310px;
  padding: 48px 48px;
  position: absolute;
  top: 80px;
  background: #ffffff;
}

.contacts-info{
  width: 100%;
  margin-bottom: 58px;
}

.adress b {
  font-size: 18px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.adress p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 23px;
  margin-bottom: 50px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 960px;
}
.footer-social {
  list-style: none;
  display: flex;
  width: 260px;
  margin-bottom: 77px;
  margin-top: 0px;
  padding: 11px;
  background-color: #efc84a;
}

.social-button a {
  color: #e1e1e1;
}

.footer-friends-sale{
  width: 560px;
  padding-top: 0px;
  text-align: left;

}

.footer-friends {
  font-size: 36px;
  line-height: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  /*padding-top: 11px;*/
  margin-bottom: 10px;
  margin-top: 0px;
 }

.footer-sale {
  font-size: 16px;
  line-height: 22px;
  color:#444444;
  margin-top: 0px;
  margin-bottom: 87px;
}

.form-post {
display: none;
  box-sizing: border-box;
  width: 960px;
  height: 600px;
  padding: 80px 35px;

  outline: 2px solid grey;
}
.form-post-wrapp {

  width: 760px;
  display: flex;
  justify-content: space-between;
}

.form-post h2{
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  margin-bottom: 54px;
}

.post-item label{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.form-post button{
  width: 260px;
  height: 55px;
}

.modal-wrap {
  width: 780px;
  display: flex;
  justify-content: space-between;
}
.modal-close button{
  width: 21px;
  height: 21px;
}

.page-title {
  font-size: 55px;
  color: #000000;
  width: 100%;
  line-height: 55px;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-top: 80px;
  padding-bottom: 115px;
  text-align: center;
  background-color: #eeeeee;
}
.site-navigation-current
.sort-site label{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.filters-form{
  display: flex;
  width: 260px;
  flex-direction: column;
  /*margin-left:140px;*/
}

.filters-site-type{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.sort-site {
  display: flex;
  flex-direction: column;

}
.filters-features {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 45px;
}

.filters-cost-site {
  display: flex;
  flex-direction: column;
}
.filters-cost-site-output label{
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.button-grey {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    width: 260px;
    height: 50px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #eeeeee;
}
.filters fieldset{
  border: none;
}

.filters-site-type h2,
.filters-features h2,
.filters-cost-site h2 {
  margin-top: 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filters-cost-site h2 {
  margin-bottom: 57px;
  margin-top: 0px;
  padding: 0px;
}

.filters-site-type h2{
  margin-bottom: 0px;
}
.catalog {
  width: 760px;
  display: flex;
  flex-direction: column;
}
.catalog-list {
  list-style: none;

}
.filters-catalog-wrapp {
  width: 760px;
  display: flex;
  flex-direction: column;
}
.filters-sort {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 0px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.filters-sort p{
  padding: 0px;
  margin-top: 0px;
}


.filters-sort-list{
  list-style: none;
  width: 760px;
  padding: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}
.filters-sort a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  text-transform: uppercase;
}

.filters-sort-list a:hover,
.filters-sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.filters-sort-list a:active {
  color: rgb(0, 0, 0);
}
.container-wrapp {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin: auto;
  margin-bottom: 60px;
  outline: 2px dashed red;

}

.catalog-list h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.catalog-item {
  width: 360px;
}
.catalog-item p{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;margin: auto;
}

.pagination-list {
  list-style: none;
  display: flex;
  width: 443px;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 0px;
  padding: 0px;
}

.pagination-item a{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}
.pagination-item:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
.pagination-item-current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
