body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

.main-header {
  background: #eeeeee;
}
.main-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.site-nav,
.user-nav {
  list-style: none;
  text-transform: uppercase;
}

 /*color: #a6a6a6;*/
.site-nav a,
.user-nav a {
  color: #000000;
}


/*.site-navigation-current {
  color: #000000;}*/


.site-nav a:hover,
.user-nav a:hover {
  color: #fb565a;
}

  /*text-decoration: underline ;*/


.site-nav a:active,
.site-nav a:focus,
.user-nav a:active,
.user-nav a:focus {
 color: rgba(0, 0, 0, 0.302);
}

.main-header-logo:hover,
 {
  opacity: 0.8;

}

.main-header-logo:active,
.main-header-logo:focus {
  opacity: 0.3;
}

.motto-list {
  list-style: none;
  background: #eeeeee;
 }

.motto-list-item h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.motto-list-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align:left;
}

.motto-btn{
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.motto-btn:hover,
.motto-btn:focus, {
  background-color: #e74246;
}

.motto-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
}

.service {
  list-style: none;
  text-align: left;
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.service-list {
  list-style: none;

}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
 /* background-color: #fb565a;*/
}

.button-red {
  font: inherit;
  color: #ffffff;
  background-color: #fb565a;
}
.button-green {
  color: #ffffff;
  background-color: #00ca74;
}

.button-yellow {
  color: #ffffff;
  background-color: #efc84a;
}
.about-loud b {
  font-size: 45px;
  line-height: 45px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
.about-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;
}

.facts p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.facts-list th{
  font-size: 45px;
  line-height: 10.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
.facts-list td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}


.partners-list {
  list-style: none;
}

.partners-list li{
  opacity: 0.2;
}

.partners-list li:hover {
  opacity: 1;
}

.partners-list li:active,
.partners-list li:focus {
  opacity: 0.1;
}


.adress b {
  font-size: 18px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.adress p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

}
.footer-social ul{
  list-style: none;
}
.footer-friends {
  font-size: 36px;
  line-height: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
.footer-sale {
  font-size: 16px;
  line-height: 22px;
  color:#444444;
}

.social-button a {
  color: #e1e1e1;
}

.form-post h2{
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}
.post-item label{
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

.inner-page h1 {
  font-size: 55px;
  color: #000000;
  line-height: 55px;
  text-align: center;
}
.sort-site label{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
/*.filters-cost-site span{
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}*/
.filters-cost-site-output label{
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.button-grey {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #eeeeee;
}
.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item p{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination-list {
  list-style: none;

}

.filters fieldset{
  border: none;
}

.filters-site-type h2,
.filters-features h2,
.filters-cost-site h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filters-sort {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.filters-sort a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-align: left;
  text-transform: uppercase;
}
.filters-sort-items {}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
