body {
  margin: 0;
  padding: 0;
  min-width: 1180px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}
html {
 box-sizing: border-box;
}

        *,
*::before,
  *::after {
 box-sizing: inherit;
}

a {
  text-decoration: none;
}

.main-header {
  background: #eeeeee;
  width: 100%;
  padding-top: 20px;
  margin: auto;
}
.container {
  width: 1180px;
  padding: 10px;
  margin: 0 auto;
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  width: 1160px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
/*min-height:130px;*/
  outline: 2px solid black;
 /* margin-right: 120px;
  margin-left: 140px;
  margin-top: 60px;*/

}

.main-nav a {
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-bottom: 14px;
}

.site-nav {
  width: 440px; outline: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.site-nav,
.user-nav {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.site-nav a,
.user-nav a {
  color: #000000;
}
/*.site-navigation-current {
  color: #000000;}*/

.site-nav a:hover,
.user-nav a:hover {
  color: #fb565a;
}

.site-nav a:active,
.site-nav a:focus,
.user-nav a:active,
.user-nav a:focus {
 color: rgba(0, 0, 0, 0.302);
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active,
.main-header-logo:focus {
  opacity: 0.3;
}
.site-navigation-current {
  text-decoration: underline ;
}

.motto {
  width: 1440px;
  background: #eeeeee;

}

.motto-list {
  list-style: none;
  width: 1180px;
  /*margin-left: 100px;
  min-height: 418px;*/
  margin-left: 0px;
 }

.motto-header {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  display: flex;
  padding-top: 70px;
  margin-bottom: 25px;
  margin-top: 0px;
  /*background-image: url("img/slide1.png") no-repeat right;*/
}

.motto-list-item p{
  font-size: 16px;
  line-height: 24px;

  font-weight: 400;
  text-align:left;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 49px;
  padding: 0px;
}

.motto-btn {
  font: inherit;
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  width: 230px;
  height: 30px;
  padding: 10px;
  margin: 30px 10px 10px 5px;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.motto-btn:hover,
.motto-btn:focus {
  background-color: #e74246;
}

.motto-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
}

.service {
  list-style: none;
  text-align: left;
}

.service-wrapp {

  /*background-color: yellow;*/
}

.service-list {
  width: 1100px;
  display: flex;
  /*flex-direction: column;*/
  margin-top: 80px;
  margin-left: 0px;
  margin-bottom: 80px;
  padding: 0px;
  justify-content: space-between;
  outline: 2px solid red;
}

.service-list-item {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.service-list-item p{
  margin-top:0px;
  margin-bottom: 22px;
}

.service-list-item h3{
  margin-bottom: 15px;
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.service-list {
  list-style: none;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  width: 140px;
  height: 30px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
 /* background-color: #fb565a;*/
}

.button-red {
  font: inherit;
  color: #ffffff;
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}
.button-red:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #d7373b;
}

.button-green {
  font: inherit;
  color: #ffffff;
  background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}
.button-green:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #00aa62;
}

.button-yellow {
  font: inherit;
  color: #ffffff;
  background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}
.button-yellow:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #e5a722;
}

.about-facts-wrapp {
  display: flex;
  justify-content: space-between;
  /*margin: auto;
  margin-left: 140px;
  margin-top: 90px;
  margin-bottom: 80px;*/
}

.about {
  display: flex;
  flex-direction: column;
  width: 660px;
  padding-top: 20px;
}

.about-loud b {
  font-size: 45px;
  line-height: 45px;
  margin-top: 80px;
  margin-bottom: 45px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}

.about-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 23px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: left;
}
.facts-wrapp{
  margin-bottom: 40px;
  outline: 2px solid red;
}

.facts {
  width: 360px;
}
.facts img{
  margin-bottom: 40px;

}

.facts p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.facts-list th{
  font-size: 45px;
  line-height: 10.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 28px;
  text-align: center;
  background-color: yellow;
}

.facts-list td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  background-color: yellow;
}

.partners-list {
  list-style: none;
  margin-top: 40px;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}

/*.partners-wrap{

  margin-left: 100px;
  margin-bottom: 80px;


}*/

.partners-list li{
  opacity: 0.2;
  display: flex;
}


.partners-list li:hover {
  opacity: 1;
}

.partners-list li:active,
.partners-list li:focus {
  opacity: 0.1;
}
.adress {
  box-sizing: border-box;
  outline: 2px solid green;
  width: 320px;
  height: 310px;
  padding: 54px 48px;
  position: absolute;
  left: 60px;
  background: #ffffff;
}
/*.contacts-info img {
  width: 100%;
}*/

.adress b {
  font-size: 18px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.adress p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: 35px;
  margin-bottom: 40px;
}

.footer-wrap {
  display: flex;
  width: 960px;
}
.footer-social ul{
  list-style: none;
  display: flex;
  width: 260px;
  margin-top: 60px;
  background-color: #efc84a;
}

.footer-friends {
  font-size: 36px;
  line-height: 36px;
  width: 560px;
  margin-top: 80px;
  margin-left: 120px;
  margin-bottom: 13px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}

.footer-sale {
  font-size: 16px;
  line-height: 22px;
  color:#444444;
  margin-left: 120px;
  margin-top: 13px;
}

.social-button a {
  color: #e1e1e1;
}

.form-post {
  box-sizing: border-box;
  width: 960px;
  height: 600px;
  padding: 80px 35px;

  outline: 2px solid grey;
}
.form-post-wrapp {
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.form-post h2{
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  margin-bottom: 54px;
}

.post-item label{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.form-post button{
  width: 260px;
  height: 55px;
}

.modal-wrap {
  width: 780px;
  display: flex;
  justify-content: space-between;
}
.modal-close button{
  width: 21px;
  height: 21px;
}

.inner-page h1 {
  font-size: 55px;
  color: #000000;
  width: 100%;
  line-height: 55px;
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 115px;
  text-align: center;
  background-color: #eeeeee;
}
.site-navigation-current
.sort-site label{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
/*.filters-cost-site span{
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}*/

/*.page-title {
  width: 100%;
}*/
.filters-form{
  display: flex;
  width: 260px;
  flex-direction: column;
  /*margin-left:140px;*/
}

.filters-site-type{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.sort-site {
  display: flex;
  flex-direction: column;

}
.filters-features {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 45px;
}

.filters-cost-site {
  display: flex;
  flex-direction: column;
}
.filters-cost-site-output label{
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.button-grey {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    width: 260px;
    height: 50px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #eeeeee;
}
.filters fieldset{
  border: none;
}

.filters-site-type h2,
.filters-features h2,
.filters-cost-site h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.catalog {
  width: 760px;
  display: flex;
  flex-direction: column;
}
.catalog-list {
  list-style: none;

}
.filters-catalog-wrapp {
  width: 760px;
  display: flex;
  flex-direction: column;
}
.filters-sort {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.filters-sort-list{
  list-style: none;
  width: 760px;
  display: flex;
  justify-content: flex-end;
}
.filters-sort a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  text-transform: uppercase;
}

.filters-sort-list a:hover,
.filters-sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.filters-sort-list a:active {
  color: rgb(0, 0, 0);
}
.container-wrapp {
  width: 1160px;
  display: flex;
  justify-content: space-between;

}
.catalog-list {
  width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin: auto;

}

.catalog-list h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.catalog-item {
  width: 360px;
}
.catalog-item p{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;margin: auto;
}

.pagination-list {
  list-style: none;
}

.pagination-item a{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}
.pagination-item:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
.pagination-item-current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
